<div class='menu-inner'>
	<a href="/amin"><img src="/static/images/movie.png" alt='' /></a>
	<span><a href="/admin">ការផ្សាយ</a></span>
	<a href="/amin/category"><img src="/static/images/category.png" alt='' /></a>
	<span><a href="/admin/category">ជំពូក</a></span>
	<a href="/amin/page"><img src="/static/images/page.png" alt=''/></a>
	<span><a href="/admin/page">ទំព័រ​ស្តាទិក</a></span>
	<a href='/admin/upload'><img src="/static/images/upload.png" alt='' /></a>
	<span><a href="/admin/upload">Upload</a></span>
	<a href="/amin/user"><img src="/static/images/users.png" alt='' /></a>
	<span><a href="/admin/user">អ្នក​និពន្ធ</a></span>
	<a href="/amin/setting"><img src="/static/images/setting.png" alt='' /></a>
	<span><a href="/admin/setting">Setting</a></span>
</div>

<style>
	.menu-inner{
		background-color: var(--background);
	}
	.menu-inner{
		display: grid;
		grid-template-columns: 50px auto;
		align-items: center;
		grid-gap: 20px 10px;
		padding: 15px;
	}
	.menu-inner img{
		width: 100%;
		float: left;
	}
	.menu-inner a{
		font: 18px/1.5 Oswald, Bayon;
	}
</style>