{{template "admin.html" .}}

{{define "pageTitle"}}
    ទំព័រ​អ្នក​និពន្ធ
{{end}}

{{define "editor"}}
<div class="Editor">
    <form action="/admin/user/" method="post">
        <input type="text" name="title" required placeholder="ឈ្មោះ" />
        <div class="wrapper">
            <textarea name="content" id="editor"></textarea>
        </div>
        <div class="wrapper2">
            <select name="role" required >
                <option>Author</option>
                <option>Editor</option>
                <option>Admin</option>
            </select>
            <input type="email" name="email" required placeholder="Email" />
            <input type="password" name="password" required />
            <input type="text" name="thumb" required placeholder="រូប​​តំណាង" />
            <input type="datetime-local" step="1" name="date" required />
            <input type="submit" value="បញ្ចូល" />
        </div>
            <input type="hidden" name="videos" value="" />
            <script src="/static/scripts/ckeditor/config-user.js"></script>
            
    </form>
</div>

<style>
    .Editor{
        background-color: white;
        height: 100%;
        position: relative;
    } 
    .Editor .wrapper{
        height: 350px;
    }
    .Editor input{
        width: 100%;
        font: var(--body-font);
        padding: 3px 5px;
    }
    .Editor .wrapper2{
        display: grid;
        grid-template-columns: 9% auto auto auto 23% 10%;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    @media only screen and (max-width: 600px){
        .Editor .frame{
            grid-template-columns: 100%
        }
    }
</style>
{{end}}