{{define "base.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/images/siteLogo.png" />
    <title>{{.title}}</title>
    <link href="/static/fonts/setup.css" rel="stylesheet" />
    <link href="/static/styles/base-frontend.css" rel="stylesheet" />
</head>
<body>
    {{ template "header" . }}
    {{ template "menu" . }}
    {{ template "content" . }}
    <section class="Footer">
    <footer class="wrapper">
        <p>Copyright &copy;2025 Khmer Web</p>
        <p>Powered by <a target="_blank" href="https://gin-gonic.com/en/docs/">Gin</a> & <a target="_blank" href="https://turso.tech/">Turso</a></p>
    </footer>
    </section>

    <style>
        .Footer .wrapper{
            text-align: center;
            padding: 50px 0;
            background: rgb(44, 44, 44);
            color: white;
        }
        .Footer .wrapper a{
            color: orange;
        }
    </style>
</body>
</html>
{{end}}