<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/images/siteLogo.png" />
    <title>{{.Title}}</title>
    <link href="/static/fonts/setup.css" rel="stylesheet" />
    <link href="/static/styles/base-frontend.css" rel="stylesheet" />
    <script src="/static/scripts/jquery.js"></script>
</head>
<body>
    {{template "header.html" .}}
    {{template "menu.html" .}}
    {{block "content" .}}Header{{end}}
    {{template "footer.html" .}}
</body>
</html>